# Global
node_modules/
dist/
.env
.env.*

# Logs
logs/
*.log

# MacOS
.DS_Store

# Vercel & Render build
.vercel/
.output/
.cache/
.nyc_output/
coverage/

# IDEs
.vscode/
.idea/

# Frontend Vite build
frontend/dist/

# Backend build
backend/dist/

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep
